<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>136.15.0.103236</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2008-08-21 13:23:07 -0400</string>
	<key>Creator</key>
	<string>Shannon Hastings</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>AC41A944-76A2-11DC-8E80-000D9337ABB8-295-000000D40CF7CD30</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.499568, -0.499999}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.499999}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, 0.212866}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.500125, 0.286373}</string>
						<key>control2</key>
						<string>{-0.451309, 0.3599}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353553, 0.415983}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.158291, 0.528007}</string>
						<key>control2</key>
						<string>{0.158291, 0.528007}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353553, 0.415983}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.451185, 0.359971}</string>
						<key>control2</key>
						<string>{0.5, 0.286559}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.5, 0.213147}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.499999}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.499568, -0.499999}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.494555, -0.430622}</string>
						<key>control2</key>
						<string>{0.445884, -0.36209}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353553, -0.30912}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.158291, -0.197097}</string>
						<key>control2</key>
						<string>{-0.158291, -0.197097}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353553, -0.30912}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.445883, -0.36209}</string>
						<key>control2</key>
						<string>{-0.494555, -0.430622}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.499568, -0.5}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>47255A8C-76A3-11DC-8E80-000D9337ABB8-295-000000D6113F5365</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.499569, -0.113497}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.113497}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.117719}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, 0.127706}</string>
						<key>control2</key>
						<string>{0.491406, 0.137693}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.474218, 0.142365}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.493628, 0.153172}</string>
						<key>control2</key>
						<string>{0.502079, 0.16451}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.49957, 0.17578}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.17578}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.406996}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, 0.430797}</string>
						<key>control2</key>
						<string>{0.451185, 0.454599}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353553, 0.472759}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.158291, 0.50908}</string>
						<key>control2</key>
						<string>{-0.158291, 0.50908}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353552, 0.472759}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.451309, 0.454576}</string>
						<key>control2</key>
						<string>{-0.500124, 0.430737}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, 0.406905}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, 0.17578}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.499569, 0.17578}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.502077, 0.16451}</string>
						<key>control2</key>
						<string>{-0.493628, 0.153173}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.474221, 0.142367}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.491458, 0.137664}</string>
						<key>control2</key>
						<string>{-0.500052, 0.127646}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, 0.117628}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.113497}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.499569, -0.113497}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.502087, -0.124812}</string>
						<key>control2</key>
						<string>{-0.49356, -0.136194}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.473989, -0.147039}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.491381, -0.151874}</string>
						<key>control2</key>
						<string>{-0.500052, -0.161937}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, -0.172}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.403125}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.499568, -0.403125}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.494555, -0.380631}</string>
						<key>control2</key>
						<string>{-0.445882, -0.358412}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353552, -0.341238}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.158291, -0.304918}</string>
						<key>control2</key>
						<string>{0.158291, -0.304918}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353553, -0.341238}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.445884, -0.358412}</string>
						<key>control2</key>
						<string>{0.494555, -0.380631}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499568, -0.403125}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.403125}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.171909}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, -0.161877}</string>
						<key>control2</key>
						<string>{0.491328, -0.151845}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.473986, -0.142236}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.49356, -0.136196}</string>
						<key>control2</key>
						<string>{0.502089, -0.124812}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.499569, -0.113497}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.353553, -0.47276}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.548816, -0.43644}</string>
						<key>control2</key>
						<string>{0.548816, -0.377553}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353553, -0.341233}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.158291, -0.304913}</string>
						<key>control2</key>
						<string>{-0.158291, -0.304913}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353552, -0.341233}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.548815, -0.377553}</string>
						<key>control2</key>
						<string>{-0.548815, -0.43644}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.353552, -0.47276}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.158291, -0.50908}</string>
						<key>control2</key>
						<string>{0.158291, -0.50908}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353553, -0.47276}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{246, 397}, {230, 56}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>1413</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 CSM Authorization Plugin will use the csm api to talk to the csm database and \
check permission for the triplet\
(grid user id, protection element, privilege)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{86, 156}, {93, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>1412</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.665156</string>
						<key>g</key>
						<string>0.498695</string>
						<key>r</key>
						<string>0.574701</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.32539677619934082</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.5</string>
						<key>g</key>
						<string>0.5</string>
						<key>r</key>
						<string>0.5</string>
					</dict>
					<key>CornerRadius</key>
					<real>6</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\b\fs20 \cf0 caGrid Container}</string>
				<key>VerticalPad</key>
				<integer>3</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>1170</integer>
			</dict>
			<key>ID</key>
			<integer>1410</integer>
			<key>Points</key>
			<array>
				<string>{330, 330}</string>
				<string>{384, 303}</string>
				<string>{443.5, 273}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>1409</integer>
				<key>Info</key>
				<integer>3</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{263.5, 308.25}, {49, 43.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1407</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{100, 303}, {230, 54}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1409</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>1</string>
						<key>g</key>
						<string>0.836018</string>
						<key>r</key>
						<string>0.814815</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 CSM Authorization Plugin _______                  }</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{100, 238}, {230, 124}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>1408</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.832898</string>
						<key>g</key>
						<string>1</string>
						<key>r</key>
						<string>0.821948</string>
					</dict>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Introduce PDP\
\
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{100, 180}, {230, 186}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>5</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs24 \cf0 Introduce Generated Service\
\
\
\
\
\
\
\
\
\
}</string>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{444.203, 290.607}, {34.5942, 6.36001}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>LucidaGrande</string>
						<key>Size</key>
						<real>10</real>
					</dict>
					<key>ID</key>
					<integer>1171</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fnil\fcharset0 LucidaGrande;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs20 \cf0 csm database}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>AllowConnections</key>
					<string>NO</string>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 249.033}, {36, 6.21295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1173</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.5</string>
										<key>b</key>
										<string>0.294423</string>
										<key>g</key>
										<string>0.426471</string>
										<key>r</key>
										<string>0.412162</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 252.213}, {36, 10.8295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1174</integer>
							<key>Shape</key>
							<string>AC41A944-76A2-11DC-8E80-000D9337ABB8-295-000000D40CF7CD30</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.5</string>
										<key>b</key>
										<string>0.294423</string>
										<key>g</key>
										<string>0.426471</string>
										<key>r</key>
										<string>0.412162</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 249.033}, {36, 6.21295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1175</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>222</real>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 252.269}, {36, 10.8295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1176</integer>
							<key>Shape</key>
							<string>AC41A944-76A2-11DC-8E80-000D9337ABB8-295-000000D40CF7CD30</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>180</real>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 258.729}, {36, 6.21295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1177</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.5</string>
										<key>b</key>
										<string>0.294423</string>
										<key>g</key>
										<string>0.426471</string>
										<key>r</key>
										<string>0.412162</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 261.909}, {36, 10.8295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1178</integer>
							<key>Shape</key>
							<string>AC41A944-76A2-11DC-8E80-000D9337ABB8-295-000000D40CF7CD30</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.5</string>
										<key>b</key>
										<string>0.294423</string>
										<key>g</key>
										<string>0.426471</string>
										<key>r</key>
										<string>0.412162</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 258.707}, {36, 6.21295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1179</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.623967</string>
										<key>g</key>
										<string>0.623967</string>
										<key>r</key>
										<string>0.623967</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 261.943}, {36, 10.8295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1180</integer>
							<key>Shape</key>
							<string>AC41A944-76A2-11DC-8E80-000D9337ABB8-295-000000D40CF7CD30</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>180</real>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 268.369}, {36, 6.21295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1181</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.5</string>
										<key>b</key>
										<string>0.294423</string>
										<key>g</key>
										<string>0.426471</string>
										<key>r</key>
										<string>0.412162</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 271.549}, {36, 10.8295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1182</integer>
							<key>Shape</key>
							<string>AC41A944-76A2-11DC-8E80-000D9337ABB8-295-000000D40CF7CD30</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>a</key>
										<string>0.5</string>
										<key>b</key>
										<string>0.294423</string>
										<key>g</key>
										<string>0.426471</string>
										<key>r</key>
										<string>0.412162</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 268.369}, {36, 6.21295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1183</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.623967</string>
										<key>g</key>
										<string>0.623967</string>
										<key>r</key>
										<string>0.623967</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 271.605}, {36, 10.8295}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1184</integer>
							<key>Shape</key>
							<string>AC41A944-76A2-11DC-8E80-000D9337ABB8-295-000000D40CF7CD30</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>180</real>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{443.5, 249.033}, {36, 33.4017}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>1185</integer>
							<key>Shape</key>
							<string>47255A8C-76A3-11DC-8E80-000D9337ABB8-295-000000D6113F5365</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>GradientColor</key>
									<dict>
										<key>w</key>
										<string>0.666667</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>1</string>
										<key>g</key>
										<string>1</string>
										<key>r</key>
										<string>1</string>
									</dict>
									<key>Width</key>
									<real>4</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>GroupConnect</key>
					<string>YES</string>
					<key>ID</key>
					<integer>1172</integer>
					<key>Magnets</key>
					<array>
						<string>{0, -1.33333}</string>
						<string>{1.33333, 0}</string>
						<string>{0, 1.33333}</string>
						<string>{-1.33333, -6.35783e-07}</string>
					</array>
				</dict>
			</array>
			<key>GroupConnect</key>
			<string>YES</string>
			<key>ID</key>
			<integer>1170</integer>
			<key>Magnets</key>
			<array>
				<string>{0, -1.33333}</string>
				<string>{1.33333, -6.35783e-07}</string>
				<string>{0, 1.33333}</string>
				<string>{-1.33333, -1.27157e-06}</string>
			</array>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{376, 156}, {83, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>1405</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.665156</string>
						<key>g</key>
						<string>0.498695</string>
						<key>r</key>
						<string>0.574701</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.32539677619934082</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.5</string>
						<key>g</key>
						<string>0.5</string>
						<key>r</key>
						<string>0.5</string>
					</dict>
					<key>CornerRadius</key>
					<real>6</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Align</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf949\cocoasubrtf330
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\ql\qnatural\pardirnatural

\f0\b\fs20 \cf0 CSM Datastore}</string>
				<key>VerticalPad</key>
				<integer>3</integer>
			</dict>
			<key>TextPlacement</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{86, 163}, {264, 217}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>1406</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.850004</string>
						<key>g</key>
						<string>0.850004</string>
						<key>r</key>
						<string>0.850004</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.32539677619934082</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.5</string>
						<key>g</key>
						<string>0.5</string>
						<key>r</key>
						<string>0.5</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{376, 163}, {171, 217}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>10</real>
			</dict>
			<key>ID</key>
			<integer>1411</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0.850004</string>
						<key>g</key>
						<string>0.850004</string>
						<key>r</key>
						<string>0.850004</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.32539677619934082</real>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.5</string>
						<key>g</key>
						<string>0.5</string>
						<key>r</key>
						<string>0.5</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2008-08-21 13:40:14 -0400</string>
	<key>Modifier</key>
	<string>Shannon Hastings</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{11, 52}, {920, 826}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-97, 61}, {771, 672}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
